@media all and (max-width:767px){
    .homepage h1{
        
       font-weight: 600;
       font-size: 45px;
       line-height: 45px;
     

       
        
        
       }
       .homepage-p{
        
        font-weight: 500;
        font-size: 22px;
        line-height: 33px;
        
        margin-top: 40px;
     }
     .homepage-fotter-section{
        height: 100px;
        bottom: -30px;
    
     }
     .homepagebutton{
       width: 96%;
       padding: 16px 0;

       }
       .companylogo{
         margin: 350px 0 100px 0;
       
       }
       .companylogo img{
        margin-top: 30px;
       
       }
       .slider-buttons {
         position: absolute;
         top: -26px;
         left: 85%;
         transform: translateX(-50%);
        
       }
       .find-nav {
      display: flex;
      flex-direction: column;
      align-items: center;
        
      }
      .responsive{
        display: flex;
        align-items: center;
        flex-direction: column;
      }
      .arrow-icon img{
      display: none;
      }
     .responsive-fotter{
      text-align: center;

     }
    .md-finish{
    margin-right: 20px;
    }
}